:host {
    display: block;
    background-color: #f1f5f8;
    padding: 40px var(--space-medium) var(--space-medium) var(--space-medium);

    #container-title {
        font-family: ExtraBold;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
