@import "src/app/themes/variables";

:host {
    #stars {
        line-height: 1;
        --percent: calc(var(--rating) / 5 * 100%);

        &::before {
            background: linear-gradient(90deg, var(--color-secondary) var(--percent), #ddd var(--percent));
            background-clip: text;
            color: var(--color-secondary);
            content: '★★★★★';
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @media screen and (min-width: $sizeTablet) {
            text-align: right;
        }
    }

    #reviews-number {
        margin-left: 5px;
    }
}
