:host {
    #stars {
        line-height: 1;
        --percent: calc(var(--rating) / 5 * 100%);

        &::before {
            background: linear-gradient(90deg, var(--color-secondary) var(--percent), #ddd var(--percent));
            background-clip: text;
            color: var(--color-secondary); // TODO: var

            content: '★★★★★';
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    #reviews-number {
        margin-left: 5px;
    }
}
