:host {
    display: block;

    header {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;

        .page {
            border-right: 1px solid #ddd;
            flex-grow: 1;
            padding: 15px 10px;
            text-align: center;

            &:last-child {
                border-right: none;
            }
        }
    }
}
