:host {
    display: block;

    header {
        background-color: #fff;

        .page-link {
            border-right: 1px solid  #f1f5f8; // TODO: move to a var
            cursor: pointer;
            font-size: 12px;
            padding: 10px;
            text-align: center;

            &:hover {
                background-color: #eee;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}
