@import "src/app/themes/variables";

:host {
    display: block;

    header {
        background-color: #fff;

        .page-link {
            cursor: pointer;
            font-size: 12px;
            padding: 10px;
            text-align: center;

            &:hover {
                background-color: #eee;
            }

            @media screen and (min-width: $sizeTablet) {
                border-right: 1px solid var(--color-grey-light);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}
