<div class="flex">
    <div class="flex-item">Barclaycard CashForward &#8482;World MasterCard&#8482;</div>
    <div class="flex-item align-right"><app-star-rating></app-star-rating></div>
</div>
<div id="offers-container" class="flex">
    <div class="flex-item flex-medium">
        <div class="flex">
            <div class="flex-item flex-small">
                <img class="credit-card" src="assets/images/credit-card.png" />
            </div>
            <div class="flex-item flex-small">
                Approval<div>OddsT</div>
                <div class="btn-very_good">Very Good</div>
            </div>
        </div>
        <div class="btn-apply">Apply Now</div>
    </div>

    <div class="flex-item flex-big">
        <ul id="offers-list">
            <li>Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account opening.</li>
            <li>Earn unlimited 15% cash rewards on every purchase.</li>
            <li>Earn unlimited 15% cash rewards on every...show more</li>
        </ul>
    </div>
</div>
<div class="details-link">See Details, Rates and Fees</div>