@import "app/themes/fonts";
@import "app/themes/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Regular;
    font-size: 14px;
}

@media screen and (min-width: $sizeTablet) {
    .flex {
        display: flex;
        flex-wrap: wrap;

        .flex-item {
            flex-grow: 1;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
}
