* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #1194f6;
    --color-secondary: #59d8d1;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    .flex-item {
        flex-grow: 1;
    }
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}
